/* ================= USER NAV ================= */
.user-profile-nav {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: 600;
}

.avatar {
    width: 38px;
    height: 38px;
    background: var(--primary-lightest);
    color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout-btn {
    background: none;
    border: none;
    color: var(--danger-color);
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}
